/* Style for navigation bars */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(235, 208, 122);
    padding: 10px 20px;
    box-shadow: 0.2px 5px rgb(166, 147, 85);
}
body{
    opacity:80%;
    background-color: rgb(255, 196, 0);
    background-image:url('backendrooms.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans';
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    align-items:center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0.15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color:black;
}

nav a:hover{
    opacity: 100%;
    background-color: #8b7441;
    color:#f5da89;
    transition:0.2s
}

nav a:active{
    background-color: #4b3e22;
}

.btn-contact{
    background-color:#d3af63;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration :none;
    transition: background-color 0.3s;
}

.btn-contact-hover{
   background-color:#8b7441;
}

/* for main container */

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.page-title{
    color: #ffffff;
    text-align:center;
    background-color: #8b7441;
    border-radius:20px;
}

.intro-text{
    text-align:center;
    margin-bottom: 40px;
    color: #ffffff;
    background-color: #8b7441;
    border-radius:20px;
}

/* section for the cards */
/* starting with the grid */
.project-grid{
    opacity:1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    overflow:hidden;
    transition: transform 0.3s;
}

/*on hover*/

.card:hover{
    opacity: 100%;
    transform: translateY(-10px);
}

.card-image{
    height: 150px;
    width: 100%;
}

.card-content{
    padding: 20px;
}

.card-content h3{
    margin-top:0;
    color: #333;
}

.btn-small{
    display: inline-block;
    margin-top:10px;
    text-decoration:none;
    background-color: #333;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-small:hover{
    background-color: #555;
}

